<!DOCTYPE html>
{% load staticfiles %}
<html lang='en'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Systematic Review - {% block title %}Systematic Review{% endblock %}</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

	<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/SysRev/">Systematic Review</a>
        </div>
        <div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'search' %}">Search</a></li>
				<li><a href="{% url 'howto' %}">How-To</a></li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'favourite' %}">Favourite/Recent Documents</a></li>
					<li><a href="{% url 'auth_logout' %}?next=/SysRev/">Logout</a></li>
					<li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
				{% else %}
	                <li><a href="{% url 'auth_login' %}">Login/Register</a></li>
	            {% endif %}
			</ul>
        </div>
      </div>
    </div>
	
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
           <div>
                {% block body_block %}{% endblock %}
           </div>
        </div>	
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
	</body>
</html>

