{% extends 'base.html' %}

{% block title %}Favourite/Recent Documents{% endblock %}

{%block body_block %}
	<div>
		<h1>Favourite Documents</h1>
		{% if favourites %}
			<ul>
			{% for favourite in favourites %}
				<li><a href="{{favourite.url}}">{{favourite.title}}</a></li>
			{% endfor %}
		{% else %}
			<strong>You have no favourites.</strong>
		{% endif %}
	</div>

	<p> coloumn for fav and column for recent</p>
{% endblock %}