{% extends 'base.html' %}

{%block title %}{{ 'How To' }}{% endblock %}

{% block body_block %}
	<div class="row placeholders">
    <div class="col-xs-12 col-sm-6 placeholder">
	<div class='alert alert-info'><p>Add documents to your archive by favouriting them. Just log in to favourite a document. If you dont have an account, simply register for free.</p></div>

	<div class="panel panel-default">
        <div class="panel-heading">
			<h3 class="panel-title">Conduct a New Review</h3>
			<ul>
				<li>To conduct a new review, enter your terms into the search box</li>
				<li>The more terms you enter the narrower the search will be and the more relevant the result.</li>
				<li>Do not use any punctuation (e.g. full stops, quotation marks)</li>
				<li>"AND" operators will be placed between every term, unless you explicity state an "OR" operator between terms/phrases</li>
			</ul>
		</div>

{% endblock %}