{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ Home }}{% endblock %}

{% block body_block %}
		<a href="{% url 'index' %}"><img src="{% static "images/logo.png" %}" alt="Systematic Review" align='right' /></a><br/>
		<div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">
                <div class="panel panel-default">
                    <div class="panel-heading">
						<h2 class="panel-title">Authors</h2>
					</div>
					<div class='panel-body'>
						<p>Almohannad Albastaki</p>
						<p>Anish Kenkare</p>
						<p>Anzhela Ivanova</p>
						<p>Prateek Gajwani</p>
					</div>
				</div>
				<div class="panel panel-default">
          			<div class="panel-heading">
						<h2 class ="panel-title">What are we?</h2>
					</div>
					<div class='panel-body'>
						<p>The systematic review is an application which conducts a mass search of medical documents throughout the Internet. Utilising modern technologies, data is retrieved and presented in a coherent manner. We have focused highly on user interaction to make an application that will benefit both users and medicine as a whole</p>
					</div>
				</div>
			<a href="{% url 'search' %}"><button type="button" class="btn btn-lg btn-info" align='right'>Start a New Review</button></a>
	</body>
{% endblock %}