{% extends "base.html" %}


{% block title %}Password changed{% endblock %}

{% block body_block %}
<head>
	<meta http-equiv="refresh" content="0; url= /SysRev/" />
<p>"Password successfully changed!"</p>
{% endblock %}