{% extends "base.html" %}

{% block body_block %}
	<h1> Change password here </h1>
	<form method="post" action=".">
		{% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-lg btn-info" type="submit" value="Change Password" />
    </form>
{% endblock %}